{% extends 'layouts/form.html' %}
{% block title %}Confirm{% endblock %}
{% block content %}
  <form method="post" class="form" action="{{ url_for('profile') }}">
    <h3 class="form-heading">Ticket Details <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    <strong> Email </strong> <p> {{ data.email }} </p>
    <strong> Sport </strong> <p> {{ data.sport }} </p>
    <strong> Date </strong>  <p> {{ data.date }} </p>
    <strong> Location </strong>  <p> {{ data.location }} </p>
    <input type="submit" value="Back" class="btn btn-primary btn-lg btn-block" >
  </form>
{% endblock %}
